<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cs304.backend.mapper.FavoriteMapper">
    <delete id="deleteByUserIdAndEventId" parameterType="map">
        DELETE FROM favorite
        WHERE user_id = #{userId} AND event_id = #{eventId}
    </delete>
</mapper>
